// Colors
$color__palette-orange: #ff9000;
$color__palette-bordeaux: #660000;
$color__palette-pink: #be5c7d;
$color__palette-red: #8c001a;
$color__palette-beet: #5f021f;
$color__palette-dark: #1a0005;
$color__palette-light: #f4e7ea;

$color__body-background: $color__palette-dark;

$color__text-primary: $color__palette-pink;
$color__text-secondary: $color__palette-orange;
$color__text-navbar: $color__palette-orange;
$color__text-icons: $color__palette-orange;
$color__text-regular: $color__palette-light;

$color__btn-line: $color__palette-light;

$primary-color: #496ddb;
$secondary-color: #ee8434;
$body-color: #c95d63;

// Fonts

@import url("https://fonts.googleapis.com/css?family=Lobster|Maiden+Orange");
$font-family-maidan: "Maidan Orange", cursive;
$font-family-lobster: "Lobster", cursive;
$font__body-text: $font-family-maidan;
$font__body-heading: $font-family-lobster;

// Images

$image__background-image: url("https://scontent.fplq1-1.fna.fbcdn.net/v/t1.0-9/35114034_1918149504871339_1587150686871617536_o.jpg?_nc_cat=104&_nc_ht=scontent.fplq1-1.fna&oh=3223cee1d514572b66f782c84557d8aa&oe=5D5CC7D2");
$image__background-opacity: 0.9;
