// Colors
$color__palette-orange: #ff9000;
$color__palette-bordeaux: #660000;
$color__palette-pink: #be5c7d;
$color__palette-red: #8c001a;
$color__palette-beet: #5f021f;
$color__palette-dark: #1a0005;
$color__palette-light: #f4e7ea;

$color__body-background: $color__palette-dark;

$color__text-primary: $color__palette-pink;
$color__text-secondary: $color__palette-orange;
$color__text-navbar: $color__palette-orange;
$color__text-icons: $color__palette-orange;
$color__text-regular: $color__palette-light;
$color__text-active: $color__palette-light;

$color__btn-line: $color__palette-orange;
$color__picture-border: $color__palette-orange;

$primary-color: #496ddb;
$secondary-color: #ee8434;
$body-color: #c95d63;

// Fonts

@import url("https://fonts.googleapis.com/css?family=Lobster|Maiden+Orange");
$font-family-maidan: "Maidan Orange", cursive;
$font-family-lobster: "Lobster", cursive;
$font__body-text: $font-family-maidan;
$font__body-heading: $font-family-lobster;

// Images

$image__background-image: url("https://i.imgur.com/SBBdgrD.jpg");
$image__background-opacity: 0.9;
$image__profile-image: url("https://i.imgur.com/ar3oz6j.png");
$image__profile-image-sm: url("https://i.imgur.com/qZfQEun.png");
